docs/.vuepress/public/files/node-red-basis.json
[{"id":"d23ea4e1.41f978","type":"tab","label":"WebServer","disabled":false,"info":""},{"id":"e63e1049.69348","type":"http response","z":"d23ea4e1.41f978","name":"","statusCode":"","headers":{},"x":150,"y":380,"wires":[]},{"id":"e649ada4.abbcb","type":"file in","z":"d23ea4e1.41f978","name":"","filename":"C:\\HN\\WebProgramming1\\voorbereiding\\les4\\opdracht1\\index.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":260,"wires":[["e3b149c7.aa3708"]]},{"id":"e3b149c7.aa3708","type":"change","z":"d23ea4e1.41f978","name":"","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":" text/html; charset=utf-8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":320,"wires":[["e63e1049.69348"]]},{"id":"b4db5162.92943","type":"http in","z":"d23ea4e1.41f978","name":"","url":"/Index.html","method":"get","upload":false,"swaggerDoc":"","x":180,"y":200,"wires":[["e649ada4.abbcb"]]},{"id":"95e8d585.6fe498","type":"http response","z":"d23ea4e1.41f978","name":"","statusCode":"","headers":{},"x":710,"y":380,"wires":[]},{"id":"945e096b.46dc58","type":"file in","z":"d23ea4e1.41f978","name":"","filename":"C:\\HN\\WebProgramming1\\voorbereiding\\les4\\opdracht1\\style.css","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":900,"y":260,"wires":[["6fc3a2dd.7b39ec"]]},{"id":"6fc3a2dd.7b39ec","type":"change","z":"d23ea4e1.41f978","name":"","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"text/css","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":320,"wires":[["95e8d585.6fe498"]]},{"id":"7cb7990e.d7e738","type":"http in","z":"d23ea4e1.41f978","name":"","url":"/style.css","method":"get","upload":false,"swaggerDoc":"","x":730,"y":200,"wires":[["945e096b.46dc58"]]},{"id":"991a6d15.43a45","type":"http response","z":"d23ea4e1.41f978","name":"","statusCode":"","headers":{},"x":150,"y":660,"wires":[]},{"id":"74b21c6.c6032e4","type":"file in","z":"d23ea4e1.41f978","name":"","filename":"C:\\HN\\WebProgramming1\\voorbereiding\\les4\\opdracht1\\script.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":540,"wires":[["503f619d.8c856"]]},{"id":"503f619d.8c856","type":"change","z":"d23ea4e1.41f978","name":"","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"application/javascript","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":600,"wires":[["991a6d15.43a45"]]},{"id":"f5f63f45.0eb32","type":"http in","z":"d23ea4e1.41f978","name":"","url":"/script.js","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["74b21c6.c6032e4"]]},{"id":"bf2e5524.eb9208","type":"http response","z":"d23ea4e1.41f978","name":"","statusCode":"","headers":{},"x":690,"y":660,"wires":[]},{"id":"97d6a77b.587198","type":"file in","z":"d23ea4e1.41f978","name":"","filename":"C:\\HN\\WebProgramming1\\voorbereiding\\les4\\opdracht1\\confirm.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":890,"y":540,"wires":[["aeb8f70c.d16918"]]},{"id":"aeb8f70c.d16918","type":"change","z":"d23ea4e1.41f978","name":"","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":" text/html; charset=utf-8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":600,"wires":[["bf2e5524.eb9208"]]},{"id":"f6af5d9f.8b738","type":"http in","z":"d23ea4e1.41f978","name":"","url":"/confirm.html","method":"get","upload":false,"swaggerDoc":"","x":730,"y":480,"wires":[["97d6a77b.587198","e9f5e0bc.9d4fd","b7141c40.3ac5d"]]},{"id":"41194432.dc6bdc","type":"e-mail","z":"d23ea4e1.41f978","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1170,"y":480,"wires":[]},{"id":"e9f5e0bc.9d4fd","type":"change","z":"d23ea4e1.41f978","name":"","rules":[{"t":"set","p":"to","pt":"msg","to":"payload.email","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":480,"wires":[["41194432.dc6bdc"]]},{"id":"b7141c40.3ac5d","type":"function","z":"d23ea4e1.41f978","name":"add to form-data","func":"var array=flow.get('form-data')|| [];\narray.push(msg.payload);\nflow.set('form-data',array);\nmsg.payload=array;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["aaf5a9e8.7dfeb8"]]},{"id":"aaf5a9e8.7dfeb8","type":"debug","z":"d23ea4e1.41f978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":420,"wires":[]}]